.pane {
	-fx-background-image: url("../images/HawaiianHanafuda_Board.png");
}
.MSPane{
	-fx-background-image: url("../images/HawaiianHanafuda_StartScreen.png");
	-fx-background-repeat: stretch;
	-fx-background-size: 800 600;
	-fx-background-position: center center;
}
.txtBox{
	-fx-background-color: #994d00;
	-fx-alignment: CENTER;
}
.menuBtnBox{
	-fx-background-color: #994d00;
	-fx-background-radius:5.0;
	-fx-padding:50 25 50 25;
	-fx-spacing:20;
}
.messageBox{
	-fx-background-color: #ffe5cc;
	-fx-padding:10;
	-fx-border-color: #1a1a1a;
	-fx-border-width: 3;
	-fx-font-size: 15px Tahoma;
	-fx-alignment:CENTER;
	-fx-font-weight:BOLD;
}
#txtBox-custom{
	-fx-background-radius: 5.0;
	-fx-padding: 8;
}
#txtBox-Text{
	-fx-font: 15px Tahoma;
	-fx-text-fill: black;
	-fx-padding: 0 10 0 10;
}
#initTxt{
	-fx-font: 30px Tahoma;
}
